html,body {
    background-color: e0e5f4;
    height:100%;

}

.navbar {
    background-color: 3953A8;
    color: e0e5f4
}

.menu div {
    background-color: magenta;
    margin-right:
}

a:link {
    color: E0E5F4
}

a:visited {
    color: 98a7da
}

a:hover {
    color: e0e5f4
}

.row > div {
    padding: 40px;
    border: 2px solid black;
    border-collapse: collapse;
    color: 05309b;
    height: 100%
}

.row {
    height: 100%
}

#container {
    height: 90%
}

@media (max-width: 510px) {
    #work_in_progress {
        display: none;
    }
}

@media (max-width: 360px) {
    #second_link {
        display: none;
    }
}
