body {
    background-color: e0e5f4;
}

body .navbar {
    background-color: 3953A8;
    color: ffffff;
}

.menu div {
    background-color: magenta;
    margin-right:
}

.navbar {
    color: ffffff
}

a:hover {
    color: ffffff
}

#container .row > div {
    padding: 40px;
    color: 05309b;
    height: 800px;
}

body footer {
    background-color: 345BBD;
    color: FFB929;
}

body footer a {
    color: D5DCEE;
}
