{% extends "base.html" %}


{% block first_column %}
    <h2 class="text-center mb-4"> {{ greetings_message }}</h2>
    <div class="container text-center col-7" style="background-color: ffffff; padding: 20px; margin-bottom: 20px">
        <h4>I think you would like a can of cola!</h4>
        <img src="{{ url_for('static', filename='cola.png') }}">
    </div>

    <h3 class="text-center">And here you can type a note to display on the second column</h3>
    <form class="text-center" action="{{ url_for('index') }}" method="POST">
        <input type="text" name="note" placeholder="Type a note here">
        <button>Add note</button>
    </form>
{% endblock %}

{% block second_column %}
    <ul>
        {% for note in notes %}
            <li> {{ note.username }} typed: {{ note.note }} </li>
            {% endfor %}
    </ul>
{% endblock %}
